numpy
opencv-python
pillow
pdf2image
fastapi
uvicorn
python-multipart
sqlmodel
psycopg[binary]
pydantic
passlib
fastapi[standard]
pyjwt
pwdlib[argon2]
rapidocr
onnxruntime
pypdfium2
openai
vercel
fastapi-mail
email-validator
python-dotenv 
pydantic-settings
psycopg
psycopg2
resend
alembic
